@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/_variables.scss";

.container-full {
  @extend .container;

  @media (min-width: $screen-sm-min) {
    width:  $container-full-fixed-width
  }
  @media (min-width: $screen-md-min) {
    width:  $container-full-fixed-width
  }
  @media (min-width: $screen-lg-min) {
    width: $container-full-fixed-width
  }
}
