<p>Questa è la vista about.</p>

<div class="row-fluid">
  <div class="col-lg-8">
    <div ng-controller="TableCtrl">
      <table ng-table class="table">
        <tr ng-repeat="data in allPatientsData">
          <td data-title="'Nome'">{{data.ass_nome}}</td>
          <td data-title="'Cognome'">{{data.ass_cogn}}</td>
          <td data-title="'Data nascita'">{{data.ass_datna}}</td>
          <td data-title="'Telefono'">{{data.ass_tel}}</td>
          <td data-title="'Email'">{{data.ass_email}}</td>
          <td data-title="'Nazionalità'">{{data.ass_citta}}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="col-lg-4">
    <!-- Inserire codice per testare directive e filter -->
  </div>
</div>
